<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | Team America</title>
  <title>Taking over the universe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/navigation.html.erb' %>
	
<%= yield %>
<div class img = "apache" 
   background-size: 100% 100%;
   background-repeat: no-repeat; >
    <div class= "container" >
    </div>
    
</body>
	<%= render 'layouts/footer.html.erb' %>
</html>
